<!doctype html>

<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{% block title %}{{ application_name }}{% endblock %}</title>
    <meta
      name="description"
      content="An application for performing triangle tests."
    />
    <meta name="author" content="Patty C." />

    <meta
      property="og:title"
      content="Triangler: for running subjective experiments."
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ request.url }}" />
    <meta
      property="og:description"
      content="An application for performing triangle tests."
    />
    <meta property="og:image" content="image.png" />

    <link rel="icon" href="/static/favicon.ico" />
    <link rel="icon" href="/static/favicon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/static/apple-touch-icon.png" />

    <link rel="stylesheet" href="/static/css/styles.css?v=1.0" />
    {% endblock head %}
  </head>

  <body>
    {% block content %}{% endblock content %}
  </body>
</html>
